$gray-medium-light: #eaeaea;
$white: #FFFFFF;
$black: #000000;
$yellow-orange: #FE980F;
$pink-light: #F6CEEC;
$yellowish-white: #F0F0E9;
$dark-gambogeish-gray: #696763;
$cyan-blue: #0083C9;
$turquoise: #5BBCEC;
$strong-red: #CE3C2D;
$white-smoke: #f5f5f5;
$rajah: #fdb45e;
$pink-swan: #B2B2B2;
$catskill-white: #E0E0DA;
$tea: #B4B1AB;
$bombay: #B3B3AD;
$celest: #CCCCC6;
$jumbo: #8C8C88;
$storm-dust: #666663;
$gainsboro: #DDDDDD;
$green-white: #D6D6D0;
$acadia: #363432;
$yellow-green: #C4C4BE;
$silver-sand: #C2C2C1;
$ivory: #F7F7F0;
$white-smoke-light: #F2F2F2;
$ivory-light: #F7F7F5;
$ivory-dl: #F5F5ED;
$heavy-metal: #40403E;
$gambogeish-gray: #B3AFA8;
$snow-drift: #DEDEDC;
$foggy-grey: #A6A6A1;
$wild-sand: #E6E4DF;
$charcoal: #434343;
$el-paso: #393b3b;
$very-light-grey: #CCCCCC;
$tangerine: #FC9A11;
$dark-gray: #ADB2B2;
$suva-gray: #8D8D8D;
$gray: #999999;
$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray: #555;
$gray-darker: #222;
